/*
.ion-item ion-card-content {
  font-size: xx-small;
}
*/
/*
.ion-card {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  background: red;
  margin-inline-start :0px !important;
  margin-inline-end: 0px !important;
}
*/
.status-card {
  display: flex;
  flex-direction: row;
}
.status-card :hover {
  cursor: pointer;
  background-color: var(--ion-color-light-shade);
  /*box-shadow: 5px 5px 5px blue, 10px 10px 10px red, 15px 15px 15px green */
}
.status-card {
  --min-height: 30px;
  --min-width: 30px;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.02em;  
  text-align:center;
}
.status-card ion-card-content {
  flex: 1 1 auto;
  padding: 10px 4px 2px 4px;
}
.flex-container_status {
  border-radius: 3px;
  width: 100%;
  height: 6px;
}


