<div class="contents">
  <div class="loading">
    <!-- Top Area -->
    <div class="shadow-contents">
      <div class="fixed-top">
        <div id="navbar">
          <div id="tbgcHeader" role="banner" class="noSearch">
            <div id="tbgcHeaderBland"><img src="../../assets/images/header_bland.png" alt="To Be a Good Company"></div>
            <div id="tbgcHeaderInner">
              <h1 id="tbgcHeaderLogo"><img src="../../assets/images/header_logo.png" alt="東京海上日動"></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="mesgs" id="mesgs_box">
        <div id="scroll_areal" class="msg_history_scroll shadow-contents">
          <div class="wrapper">
            <p class="error">エラーが発生し、接続できませんでした</p>
            <p class="announce">再度お試しいただくか、お電話にてお問合せください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
