<ion-header translucent=tue>
  <ion-toolbar>
    <ion-title size="small" slot="start">{{loginInfoData.tenpoCd}} {{loginInfoData.tenpoName}}</ion-title>
    <ion-title size="small" slot="end">{{loginInfoData.userName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-title slot="start">連絡文書一覧</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      <app-status-panel [statusArr]="statusArr" (result)="ngOnChanges($event)"></app-status-panel>
   </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" *ngFor="let work of workList">
        <ion-card class="work-card">
          <ion-card-content>
            <ion-item detail="false" lines="none" class="work-item" routerLink="/renraku-detail/{{work.kanriNo}}/{{work.statusId}}">
              <div class="vertical-bar" style="background: var({{work.statusBgVarColor}})"></div>
              <div class="vertical-bar_left"></div>
              <ion-label>
                <h2>作業期日：{{work.sagyoFromYmd | dateFormatePipe }} ～ {{work.sagyoToYmd | dateFormatePipe }} </h2>
                <p>{{work.hinban}}{{work.shudaiNm}}{{work.kenmei}}</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>