$work-item-height: 110px;
.vertical-bar{
    width: 30px;
    height: $work-item-height;
    border-radius: 15px;
}
.vertical-bar_left {
  width: 5px;
  height: $work-item-height;
}

.work-card {
    display: flex;
    flex-direction: column;
  }
  
  /* Due to the fact the cards are inside of columns the margins don't overlap
   * properly so we want to remove the extra margin between cards
   */
  ion-col:not(:last-of-type) .work-card {
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 0px;
    margin-bottom: 4px;
  }
  
  .work-card .work-item {
    --min-height: 30px;
  }
  
  .work-card .work-item h2 {
    font-size: larger;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  
  .work-card .work-item p {
    font-size: larger;
    letter-spacing: 0.02em;
  }
  
  .work-card ion-card-header {
    padding: 0;
  }
  
  .work-card ion-card-content {
    flex: 1 1 auto;
    padding: 0;
  }